
div.main{
    width: 400px;
    padding: 20px;
}

div.inner{
    width: 100%;
    font-size: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);

}

.heading{
    text-align: center;
    margin: 30px;
}

h2{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 40px;
}

input{
    margin-bottom: 15px;
}

button{
    width: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    padding: 5px;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(24, 21, 16, 0.8);
}
